* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #898a8b;
}

header {
  background-color: white;
}

header h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 25px;
  font-weight: 5;
  height: 200px;
}

header ul {
  text-align: center;
  padding-bottom: 60px;
}

header ul li {
  list-style: none;
  display: inline;
  padding: 50px;
  cursor: pointer;
}

li:hover {
  transition:  .5s;
}

main {
  display: flex;
}

content {
  height: 100px;
  background-color: white;
  width: calc(100% * 2 / 3);
  margin-top: 30px;
}

.sidebar {
  height: 100px;
  background-color: white;
}